.App {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  display: grid;
   grid-template-columns: 50% 50%;
  /*grid-template-rows: auto; */
  grid-template-areas:  'header header'
                        'ingredients constructor'
                        ;
 
}

.headerBurger {
  /* composes: burgerHeader from './components/AppHeader/AppHeader.module.css'; */
  grid-area: header;

}

.ingredientsBurger {
  /* composes: burgerIngredients from './components/BurgerIngredients/BurgerIngredients.module.css'; */
  grid-area: ingredients;
}

.constructorBurger {
  /* composes: burgerConstructor from './components/BurgerConstructor/BurgerConstructor.module.css'; */
  grid-area: constructor;
}
.appHeader{
  position:absolute;
  top:300px;
  left:440px;
  background-color:blue;
  padding:30px;
  border-radius: 30px;
}
