.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 66%;
    /*grid-template-rows: auto; */
    grid-template-areas:  'actions form .'
}

.formContainer{
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions{
    grid-area: actions;
    display: flex;
    flex-direction: column;
    align-items: center;
}