.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#2F4F4F;
    padding: 50px;
    z-index: 1000;
    border-radius: 30px;
    width: 700px;
}
