.quantity {
    height:25px;
    position:absolute;
    top:0px;
    right:30px;
    background-color:blue;
    border-radius:20px;
}

.image {
    display:block;
    margin: 0 auto;
}
.smallContainer {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.smallSpreadContainer {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}
.smallSpreadContainer p{
    
    text-align:center;
}
.name {
    width: 80%;
    text-align:center;
    margin:0 auto;
}
.nameP{
    text-align: center;
    margin-bottom:20px;
}