@value constructorHeaderHeight from "../../layoutConstants.module.css";
@value constructorTabHeight from "../../layoutConstants.module.css";
@value headerHeight from "../../layoutConstants.module.css";
@value totalHeight from "../../layoutConstants.module.css";
@value ingredientsTopPaddingHeight from "../../layoutConstants.module.css";

@value buttonHeight: 75px;
@value correction: 30px;
@value ingredientHeight: 80px;

.topPadding {
    height: ingredientsTopPaddingHeight;
    
}

.ingredientContainer {
    height: calc(totalHeight - buttonHeight - headerHeight - ingredientsTopPaddingHeight + correction);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    overflow: auto;
}

.ingredientInnerContainer {
    height: calc(totalHeight - buttonHeight - headerHeight - ingredientsTopPaddingHeight + correction - ingredientHeight - ingredientHeight);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    overflow: auto;
}

.submitElement {
    height:buttonHeight;
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center; 
    
}
.elementHeight{
    height: 80px;
}

.buttonDivActive{
    position: relative;
}
.buttonDivBlocked:hover > .submitTooltip{
    visibility:visible;
}

.buttonDivBlocked{
    position:relative;
}
.submitTooltip{
  position: absolute;
  left: 30px;
  z-index: 1;
  visibility: hidden;
  background-color: blue;
  height:40px;
  width: 250px;
  text-align: center;
  padding-top: 15px;
  border-radius: 30px;
  
}